<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrap">
        <header id="header">
            <h1 class="logo"><img src="images/logo.png" alt="logo"></h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">탑</a>
                        <ul class="submenu">
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="#">자켓</a></li>
                            <li><a href="#">코트</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">머플러</a></li>
                        </ul>
                    </li>
                    <li><a href="#">팬츠</a>
                        <ul class="submenu">
                            <li><a href="#">청바지</a></li>
                            <li><a href="#">짧은바지</a></li>
                            <li><a href="#">긴바지</a></li>
                            <li><a href="#">레깅스</a></li>
                        </ul class="submenu">
                    </li>
                    <li><a href="#">악세서리</a>
                        <ul class="submenu">
                            <li><a href="#">귀고리</a></li>
                            <li><a href="#">목걸이</a></li>
                            <li><a href="#">반지</a></li>
                            <li><a href="#">팔찌</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- header -->

        <main id="main">
            <aside id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <a href="#"><img src="images/slider01.jpg" alt="원피스 SALE"></a>
                        <div class="text">
                            <h2>원피스</h2>
                            <p>원피스 SALE</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <a href="#"><img src="images/slider02.jpg" alt="부드러운 울니트"></a>
                        <div class="text">
                            <h2>울니트</h2>
                            <p>부드러운 울니트</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <a><img src="images/slider03.jpg" alt="데님바지"></a>
                        <div class="text">
                            <h2>데님</h2>
                            <p>데님바지</p>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- //slider -->

            <article class="contents">
                <section class="info">
                    <h3 class="info-menu">
                        <a href="#" class="active">공지사항</a> |
                        <a href="#">갤러리</a>
                    </h3>
                    <div class="info-cont">
                        <div class="notice">
                            <ul>
                                <li class="popup-btn"><a href="#">배송안내</a></li>
                                <li><a href="#">Q&A</a></li>
                                <li><a href="#">배송문의</a></li>
                                <li><a href="#">반품문의</a></li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <ul>
                                <li><a href="#"><img src="images/gallery01.jpg" alt="원피스"></a></li>
                                <li><a href="#"><img src="images/gallery02.jpg" alt="울니트"></a></li>
                                <li><a href="#"><img src="images/gallery03.jpg" alt="데님바지"></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- //info -->
                <div class="banner">
                    <h3>옷 구경하기</h3>
                    <a href="#">바로가기</a>
                </div>
                <div class="link">
                    <h3>많이 팔린 옷</h3>
                    <a href="#">바로가기</a>
                </div>
            </article>
        </main>
        <!-- main -->

        <footer id="footer">
            <h2 class="logo">
                <img src="images/logo.png" alt="logo">
            </h2>
            <div class="copyright">copyright</div>
            <div class="sns">sns</div>
        </footer>
        <!-- footer -->
        <div class="popup-view">
            <h3>JUST 쇼핑몰  공지사항</h3>
            <p>
                ㅇㄴㅁㅇㄴㅁㅇㄴㅁㅇㄴㅁ
            </p>
            <a href="#" class="popup-close">닫기</a>
        </div>
        <!-- //popup -->
    </div>
    <!-- //wrap -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</body>

</html>