<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조이컨트리클럽</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="wrap">
        <aside id="aside">
            <h1 class="logo"><img src="./img/logo.png" alt="logo"></h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">CLUB</a>
                        <ul class="submenu">
                            <li><a href="#">클럽소개</a></li>
                            <li><a href="#">시설안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BOOKING</a>
                        <ul class="submenu">
                            <li><a href="#">요금안내</a></li>
                            <li><a href="#">예약안내</a></li>
                            <li><a href="#">위약안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INFOMATION</a>
                        <ul class="submenu">
                            <li><a href="#">명예의 전당</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">포토갤러리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">COMMUNITY</a>
                        <ul class="submenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <main id="main">
            <article class="sliderWrap">
                <ul class="link">
                    <li><a href="#">LINK1</a></li>
                    <li><a href="#">LINK1</a></li>
                    <li><a href="#">LINK1</a></li>
                </ul>
                <article class="slider s1">
                    <h2>조이컨트리클럽 풍경</h2>
                    <p>조이컨트리클럽으로 오세요!</p>
                </article>
                <article class="slider s2">
                    <h2>조이컨트리클럽 풍경</h2>
                    <p>조이컨트리클럽으로 오세요!</p>
                </article>
                <article class="slider s3">
                    <h2>조이컨트리클럽 풍경</h2>
                    <p>조이컨트리클럽으로 오세요!</p>
                </article>
            </article>
            <article class="banner">
                <div class="bannerimg"></div>
            </article>
            <section class="contents">
                <div class="cont">
                    <h2 class="active">공지사항</h2>
                    <h2>갤러리</h2>
                </div>
                <div>
                    <ul class="notice">
                        <li><a href="#">d</a></li>
                        <li><a href="#">ddd</a></li>
                        <li><a href="#">ddd</a></li>
                        <li><a href="#">ddd</a></li>
                    </ul>

                    <div class="gallery">
                        <div><img src="" alt=""></div>
                        <div><img src="  " alt=""></div>
                        <div><img src="  " alt=""></div>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer">
            <h2 class="footer1"><img src="./img/logo.png" alt="logo"></h2>
            <div class="footer2">copy</div>
            <div class="footer3">sns</div>
        </footer>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>