/* 스킵 메뉴 */
#skip {

}
#skip a {
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 10000;
}
#skip a:active,
#skip a:focus {
    top: 0;
}