/* headerType */
#headerType {
}
.header__wrap {}
.header__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.header__logo {
    width: 20%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__logo span {
    font-size: 18px;
    font-weight: 400;
}
.header__menu {
    width: 60%;
    text-align: center;
}
.header__menu ul li {
    display: inline;
}
.header__menu ul li a {
    padding: 13px 25px;
    margin: 0 5px;
    transition: background-color 0.3s;
}
.header__menu ul li a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
.header__member {
    width: 20%;
    text-align: right;
}
.header__member a {
    font-size: 16px;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 50px;
}
