
        #back {
    background-color: #fff; 
    margin: 10px 25px;;
}

#main__wrap {
    background-color: #204c2a;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px auto;
}

.quiz__header {
    width: 100%;
}
.quiz__suggestion {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    height: 70px;
    font-size: 55px;
    font-family: LeeSeoyun;
    text-align: center;
    line-height: 1.3;
}
.quiz__main {
    width: 100%;
    min-width: 1120px;
    height: 92vh;
    margin: 0 auto;
    background-color: #809B86;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;  
    position: relative;
}
.correct-answer {
    content: '';
    border-radius: 100%;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 60px solid rgba(242, 44, 44, 0.861);
}
.footer_imgwrap {
    position: relative;
}
.footer_imgwrap img{
    position: absolute;
}
.footer_imgwrap p{
    color: #fff;
    font-size: 68px;
    position: absolute;
    top: -130px;
    width: 100%;
    text-align: center;
    font-family: LeeSeoyun;
}
.incorrect-answer::after {
    content: '';
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    height: 50px;
    background-color: rgba(242, 44, 44, 0.861);
    border-radius: 4px;
    transform: rotate(45deg);
}
.incorrect-answer::before {
    content: '';
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    height: 50px;
    background-color: rgba(242, 44, 44, 0.861);
    border-radius: 4px;
    transform: rotate(-45deg);
}
.none {
    display: none;
}

.quiz__footer {
    width: 100%;
}
.quiz__question {
    width: 40%;
    background-color: #ffffffb0;
    height: 360px;
    border-radius: 15px;
    margin: 20px auto;
    
}
.quiz__choice {
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.choice1 , .choice2 , .choice3{
    width: 30%;
    height: 300px;
    border-radius: 15px;
    background-color: #ffffffaa;
    overflow: hidden;
    margin: 20px;
}
.quiz__question img,.choice1 img, .choice2 img, .choice3 img {
    width: 100%;
    height: 100%;
}



.quiz__choice label input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.quiz__choice {
    display: flex;
}

.quiz__choice div {
    flex: 1;
    text-align: center;
}
.timer {
    background-image: url(img/clcok.png);
    width: 102px;
    height: 102px;
    position: absolute;
    top: 180px;
    left: 70px;
    z-index: 1000;
}
.timer__sec {
    font-family: 'LeeSeoyun';
    font-size: 180px;
    color: #fff;
    position: absolute;
    top: 140px;
    left: 170px;
}

#clock {
    position: absolute;
    top: 20%;
    left: 3%;
}
#gibon {
    position: absolute;
    bottom: -20px;
    left: 5%;
}
.timer-container {
    height: 100vh;
}