<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산업대학교</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo"></h1>
            <nav class="nav"></nav>
        </header>

        <main id="main">
            <article class="sliderWarp"></article>

            <article class="contents">
                <div class="cont1"></div>
                <div class="cont2"></div>
                <div class="cont3"></div>
            </article>
        </main>

        <footer id="footer"></footer>
    </div>
</body>
</html>