#footer {
    display: flex;
    height: 129px;    
    padding: 38px 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--colorS);
}
.footer__logo img{
    width: 100%;
    transform: translateY(10%);
}
.footer__info {
    display: flex;
}
.footer__creater {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    float: right;
    margin-right: 61px;
    padding-top: 5px;
}
.footer__creater li {
    margin-left: 63px;
}
.footer__copyright {
    padding-top: 5px;
    text-align: right;
    float: right;
}

@media (max-width: 850px) {
    #footer {
        padding: 0px 10px;
        height: 60px;
        margin: 0 auto;
        height: 80px
    }
    .footer__logo{
        position: relative;
    }
    .footer__logo img {
        position: absolute;
        width: 60px;
        top: -15px;
    }
    .footer__creater {
        display: none;
    }
    .footer__copyright {
        font-size: 0.7rem;
    }
}