#b_write_wrap {
    position: relative;
    padding: 200px 0;
}

.write_board {
    left: 0;
    top: 0;
    background: linear-gradient(45deg, #F2E2DE, #E9F3FC);
    height: 400px;
    width: 100%;
    position: absolute;
}

.board_write {
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .1);
    position: relative;
}

legend {
    font-size: 1.2rem;
    font-weight: 900;
}

fieldset {
    border: none;
}

#b_title {
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

input {
    font-family: "nanumSquareNeo";
}

#boardTitle {
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 2px #e2e2e2;
}

#boardContents_w {
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    display: block;
}

#boardContents {
    width: 100%;
    border-radius: 10px;
    background-color: #FAFAFB;
    border: none;
    box-shadow: 0 0 0 2px #e2e2e2;
    max-height: 400px;
    padding: 20px;
}

.board__btns {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.btn__style3 {
    border: none;
    font-family: "nanumSquareNeo";
    padding: 10px 25px;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    transition: border-color 0.3s;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}

.btn__style3:hover {
    border-color: #ceb3ac;
}

#boardPass_label {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

#boardPass {
    display: block;
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 2px #e2e2e2;
}

.tby {}

.board__view tr {
    padding: 5px 15px;
    width: 70%;
    display: inline-block;
}

.board__view tr:last-child {
    width: 100%;
    margin-top: 10px;
}

.board__view tr:first-child td {
    text-overflow: ellipsis;
}

.board__view tr:last-child td {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 20px;
}

.tby tr:nth-child(even) {
    text-align: right;
    width: 30%;
}

.board__view th {
    display: none;
}

.board__view td {
    display: inline-block;
}


@media (max-width: 700px) {
    #b_write_wrap {
        padding: 150px 0;
    }

    .write_board {
        height: 300px;
    }

    .board_write {
        padding: 20px;
    }

    #b_title {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    #boardContents_w {
        margin-top: 30px;
        font-size: 0.9rem;
    }

    #boardContents {
        max-height: 250px;
    }

    .btn__style3 {
        font-size: 0.8rem;
    }

    th {
        font-size: 0.9rem;
    }

    td {
        font-size: 0.8rem;
    }

    .board__view tr:last-child td {
        padding: 5px 8px;
    }
    .b_p{
        padding: 30px !important;
    }
    input {
        font-size: 0.9rem;
    }
    #boardTitle {
        padding: 8px 15px;
    }

    #boardContents {
        padding: 10px 15px;
    }

    #boardPass {
        padding: 8px 15px;
    }
}

@media (max-width: 450px) {
    th {
        font-size: 0.7rem;
    }

    td {
        font-size: 0.6rem;
    }

    .board_write {
        padding: 5px;
    }

    .board__view tr:last-child td {
        padding: 3px 5px;
    }

    .btn__style3 {
        font-size: 0.7rem;
    }

    label {
        font-size: 0.8rem !important;
    }

    legend {
        font-size: 0.9rem;
    }

    #boardTitle {
        padding: 8px 15px;
    }

    #boardContents {
        padding: 10px 15px;
    }

    #boardPass {
        padding: 8px 15px;
    }
    input {
        font-size: 0.7rem;
    }
}

.red_t {
    color: red;
}