@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: KIMM_Bold;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #111530;
    overflow: hidden;

}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-bottom: 20px;
    background-color: #fafcf0;
}

.title_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 800px;
    height: 60vh;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    border-radius: 30px;
}

.title__text {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.btn {
    background-color: #111530; 
    border: none;
    font-size: 2rem;
    padding: 20px 100px;
    border-radius: 65px;
    color: #fff;
    font-family: KIMM_Bold;
    transition: background-color 0.5s;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
}

.btn:hover{
    background-color: #28303f; 
}

@media (max-width: 800px ){
    .title_wrap {
        height: 50vh;
    }
    .title__text {
        font-size: 3rem;
    }
    .btn {
        font-size: 2rem;
        padding: 10px 50px;
    }
    .title_wrap {
        width: 90%;
    }
}
